* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    padding: 10px;
    font-size: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: sistem-ui;
    transition: all .3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #888;
    color: white;
}

.BtnClick {
    border: 2px solid white;
    background-color: #888;
    color: white;
}

    