* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    padding: 10px;
    font-size: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: sistem-ui;
    transition: all .3s ease;
}

.BtnClick {
    border: 2px solid white;
    background-color: #888;
    color: white;
}

.Btn {
    border: 2px solid #888;
}

form {
    padding: 10px;  
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 50px;
    border-radius: 10px;
    font-family: sistem-ui;
    transition: all .3s ease;
}   

.TableroTareas {    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:20px;
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
