* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


form {
    background-color: #999;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form input {
    border: none;
    outline: none;
    border-radius: 5px;
    text-indent: 0.4em;
    width: 400px;
    box-shadow: 1px 1px 5px #655;
    padding: 3px;
    text-shadow: -1px 1px 1px #ccc;
}

form button {
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px #655;
}

.TableroTareas {
    padding: 2px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
}

.TableroTareas h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CajaTareas {
    background-color: rgba(149, 149, 149, 0.5);
    width: 600px;
    display: grid;
    align-items: center;
}

.Buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 160px;
    justify-content: center;
    align-items: center;
}

.Buttons button {
    cursor: pointer;
    width: 90px;
    padding: 4px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(111, 111, 111);
    color: white;
}